#corner1 {
    position: absolute;
    width: 152px;
    height: 152px;
    top: 30px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 30px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 30px;
    left: 266px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 107px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 107px;
    left: 266px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 184px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 184px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 261px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 261px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 152px;
    height: 152px;
    top: 184px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 152px;
    height: 152px;
    top: 338px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 338px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 338px;
    left: 266px;
    border: 2px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 415px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 415px;
    left: 266px;
    border: 2px solid silver;
    z-index: 999;
}
#corner16 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 492px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner17 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 492px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner18 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 569px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner19 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 569px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner20 {
    position: absolute;
    width: 152px;
    height: 152px;
    top: 492px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}