#corner1 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 65px;
    left: 220px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 105px;
    left: 60px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 187px;
    left: 187px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 255px;
    left: 80px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 340px;
    left: 210px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 365px;
    left: 60px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 450px;
    left: 185px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 521px;
    left: 77px;
    border: 2px solid silver;
    z-index: 999;
}