#corner1 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 60px;
    left: 210px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 80px;
    left: 60px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 170px;
    left: 181px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 225px;
    left: 75px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 320px;
    left: 210px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 330px;
    left: 60px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 435px;
    left: 185px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 480px;
    left: 75px;
    border: 2px solid silver;
    z-index: 999;
}