#corner1 {
    position: absolute;
    width: 152px;
    height: 142px;
    top: 35px;
    left: 41px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 35px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 35px;
    left: 272px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 107px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 107px;
    left: 272px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 179px;
    left: 41px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 179px;
    left: 118px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 251px;
    left: 41px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 251px;
    left: 118px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 152px;
    height: 142px;
    top: 179px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 152px;
    height: 142px;
    top: 323px;
    left: 41px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 323px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 323px;
    left: 272px;
    border: 2px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 395px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 395px;
    left: 272px;
    border: 2px solid silver;
    z-index: 999;
}
#corner16 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 467px;
    left: 41px;
    border: 2px solid silver;
    z-index: 999;
}
#corner17 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 467px;
    left: 118px;
    border: 2px solid silver;
    z-index: 999;
}
#corner18 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 539px;
    left: 41px;
    border: 2px solid silver;
    z-index: 999;
}
#corner19 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 539px;
    left: 118px;
    border: 2px solid silver;
    z-index: 999;
}
#corner20 {
    position: absolute;
    width: 152px;
    height: 142px;
    top: 467px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}