#corner1 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 40px;
    left: 40px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 40px;
    left: 140px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 40px;
    left: 240px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 140px;
    left: 40px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 140px;
    left: 140px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 140px;
    left: 240px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 240px;
    left: 40px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 240px;
    left: 140px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 240px;
    left: 240px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 340px;
    left: 40px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 340px;
    left: 140px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 340px;
    left: 240px;
    border: 2px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 440px;
    left: 40px;
    border: 2px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 440px;
    left: 140px;
    border: 2px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 440px;
    left: 240px;
    border: 2px solid silver;
    z-index: 999;
}
#corner16 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 540px;
    left: 40px;
    border: 2px solid silver;
    z-index: 999;
}
#corner17 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 540px;
    left: 140px;
    border: 2px solid silver;
    z-index: 999;
}
#corner18 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 540px;
    left: 240px;
    border: 2px solid silver;
    z-index: 999;
}