#corner1 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 85px;
    left: 89px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 130px;
    left: 251px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 198px;
    left: 180px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 215px;
    left: 55px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 267px;
    left: 250px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 325px;
    left: 177px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 348px;
    left: 56px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 395px;
    left: 250px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 431px;
    left: 167px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width:120px;
    height: 120px;
    top: 476px;
    left: 58px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width:80px;
    height: 80px;
    top: 55px;
    left: 206px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width:80px;
    height: 80px;
    top: 509px;
    left: 229px;
    border: 2px solid silver;
    z-index: 999;
}