#corner1 {
    position: absolute;
    width: 145px;
    height: 145px;
    top: 25px;
    left: 43px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 145px;
    height: 145px;
    top: 25px;
    left: 190px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 145px;
    height: 145px;
    top: 172px;
    left: 43px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 145px;
    height: 145px;
    top: 172px;
    left: 190px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 145px;
    height: 145px;
    top: 319px;
    left: 43px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 145px;
    height: 145px;
    top: 319px;
    left: 190px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 145px;
    height: 145px;
    top: 466px;
    left: 43px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 145px;
    height: 145px;
    top: 466px;
    left: 190px;
    border: 2px solid silver;
    z-index: 999;
}