#corner1 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 10px;
    left: 145px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 78px;
    left: 74px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 73px;
    left: 219px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 146px;
    left: 4px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 146px;
    left: 145px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 146px;
    left: 286px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 214px;
    left: 74px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 214px;
    left: 215px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 282px;
    left: 4px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 282px;
    left: 145px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 282px;
    left: 286px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 350px;
    left: 74px;
    border: 2px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 350px;
    left: 215px;
    border: 2px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 418px;
    left: 4px;
    border: 2px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 418px;
    left: 145px;
    border: 2px solid silver;
    z-index: 999;
}
#corner16 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 418px;
    left: 286px;
    border: 2px solid silver;
    z-index: 999;
}
#corner17 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 486px;
    left: 74px;
    border: 2px solid silver;
    z-index: 999;
}
#corner18 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 486px;
    left: 215px;
    border: 2px solid silver;
    z-index: 999;
}
#corner19 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 554px;
    left: 145px;
    border: 2px solid silver;
    z-index: 999;
}