#corner1 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 35px;
    left: 18px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 35px;
    left: 132px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 35px;
    left: 246px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 149px;
    left: 18px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 149px;
    left: 132px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 149px;
    left: 246px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 263px;
    left: 18px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 263px;
    left: 132px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 263px;
    left: 246px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 377px;
    left: 18px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 377px;
    left: 132px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 377px;
    left: 246px;
    border: 2px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 491px;
    left: 18px;
    border: 2px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 491px;
    left: 132px;
    border: 2px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 491px;
    left: 246px;
    border: 2px solid silver;
    z-index: 999;
}