#corner1 {
    position: absolute;
    width: 334px;
    height: 201px;
    top: 35px;
    left: 27px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 334px;
    height: 201px;
    top: 238px;
    left: 27px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 334px;
    height: 201px;
    top: 441px;
    left: 27px;
    border: 2px solid silver;
    z-index: 999;
}