#corner1 {
    position: absolute;
    width: 75px;
    height: 80px;
    top: 40px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 75px;
    height: 80px;
    top: 40px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 75px;
    height: 80px;
    top: 40px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 75px;
    height: 80px;
    top: 40px;
    left: 266px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 122px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 122px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 122px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 122px;
    left: 266px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 199px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 199px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 199px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 199px;
    left: 266px;
    border: 2px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 276px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 276px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 276px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner16 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 276px;
    left: 266px;
    border: 2px solid silver;
    z-index: 999;
}
#corner17 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 353px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner18 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 353px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner19 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 353px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner20 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 353px;
    left: 266px;
    border: 2px solid silver;
    z-index: 999;
}
#corner21 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 430px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner22 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 430px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner23 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 430px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner24 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 430px;
    left: 266px;
    border: 2px solid silver;
    z-index: 999;
}
#corner25 {
    position: absolute;
    width: 75px;
    height: 80px;
    top: 507px;
    left: 35px;
    border: 2px solid silver;
    z-index: 999;
}
#corner26 {
    position: absolute;
    width: 75px;
    height: 80px;
    top: 507px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner27 {
    position: absolute;
    width: 75px;
    height: 80px;
    top: 507px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner28 {
    position: absolute;
    width: 75px;
    height: 80px;
    top: 507px;
    left: 266px;
    border: 2px solid silver;
    z-index: 999;
}