#corner1 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 40px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 40px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 192px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 192px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 344px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 344px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 496px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 496px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}