#corner1 {
    position: absolute;
    width: 150px;
    height: 186px;
    top: 35px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 150px;
    height: 186px;
    top: 223px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 150px;
    height: 186px;
    top: 411px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 150px;
    height: 280px;
    top: 35px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 150px;
    height: 280px;
    top: 317px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}