#corner1 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 85px;
    left: 89px;
    border: 2px solid silver;
    z-index: 998;
}
#corner2 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 130px;
    left: 251px;
    border: 2px solid silver;
    z-index: 998;
}
#corner3 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 198px;
    left: 180px;
    border: 2px solid silver;
    z-index: 998;
}
#corner4 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 215px;
    left: 55px;
    border: 2px solid silver;
    z-index: 998;
}
#corner5 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 267px;
    left: 250px;
    border: 2px solid silver;
    z-index: 998;
}
#corner6 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 325px;
    left: 177px;
    border: 2px solid silver;
    z-index: 998;
}
#corner7 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 358px;
    left: 60px;
    border: 2px solid silver;
    z-index: 998;
}
#corner8 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 395px;
    left: 250px;
    border: 2px solid silver;
    z-index: 998;
}
#corner9 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 457px;
    left: 178px;
    border: 2px solid silver;
    z-index: 998;
}
#corner10 {
    position: absolute;
    width:120px;
    height: 120px;
    top: 503px;
    left: 74px;
    border: 2px solid silver;
    z-index: 998;
}
#corner11 {
    position: absolute;
    width:80px;
    height: 80px;
    top: 55px;
    left: 206px;
    border: 2px solid silver;
    z-index: 998;
}
#corner12 {
    position: absolute;
    width:80px;
    height: 80px;
    top: 537px;
    left: 235px;
    border: 2px solid silver;
    z-index: 998;
}