#corner1 {
    position: absolute;
    width: 300px;
    height: 210px;
    top: 30px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 242px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 242px;
    left: 188px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 99px;
    height: 98px;
    top: 393px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 98px;
    height: 98px;
    top: 393px;
    left: 138px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 99px;
    height: 98px;
    top: 393px;
    left: 238px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 493px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}