#corner1 {
    position: absolute;
    width: 161px;
    height: 169px;
    top: 40px;
    left: 30px;
    border: 1px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 80px;
    height: 87px;
    top: 40px;
    left: 192px;
    border: 1px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 80px;
    height: 87px;
    top: 40px;
    left: 273px;
    border: 1px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 80px;
    height: 87px;
    top: 128px;
    left: 192px;
    border: 1px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 80px;
    height: 87px;
    top: 128px;
    left: 273px;
    border: 1px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 80px;
    height: 87px;
    top: 210px;
    left: 30px;
    border: 1px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 80px;
    height: 87px;
    top: 210px;
    left: 111px;
    border: 1px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 161px;
    height: 169px;
    top: 216px;
    left: 192px;
    border: 1px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 161px;
    height: 169px;
    top: 298px;
    left: 30px;
    border: 1px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 80px;
    height: 87px;
    top: 386px;
    left: 192px;
    border: 1px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 80px;
    height: 87px;
    top: 386px;
    left: 273px;
    border: 1px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 80px;
    height: 87px;
    top: 468px;
    left: 30px;
    border: 1px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 80px;
    height: 87px;
    top: 468px;
    left: 111px;
    border: 1px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 80px;
    height: 87px;
    top: 556px;
    left: 30px;
    border: 1px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 80px;
    height: 87px;
    top: 556px;
    left: 111px;
    border: 1px solid silver;
    z-index: 999;
}
#corner16 {
    position: absolute;
    width: 161px;
    height: 169px;
    top: 474px;
    left: 192px;
    border: 1px solid silver;
    z-index: 999;
}