#corner1 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 130px;
    left: 64px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 126px;
    left: 216px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 196px;
    left: 98px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 490px;
    left: 92px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 385px;
    left: 221px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 477px;
    left: 180px;
    border: 2px solid silver;
    z-index: 999;
}