#corner1 {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 40px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 342px;
    left: 37px;
    border: 2px solid silver;
    z-index: 999;
}