#corner1 {
    position: absolute;
    width: 152px;
    height: 152px;
    top: 35px;
    left: 41px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 35px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 35px;
    left: 272px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 112px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 112px;
    left: 272px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 189px;
    left: 41px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 189px;
    left: 118px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 266px;
    left: 41px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 266px;
    left: 118px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 152px;
    height: 152px;
    top: 189px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 152px;
    height: 152px;
    top: 343px;
    left: 41px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 343px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 343px;
    left: 272px;
    border: 2px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 420px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 420px;
    left: 272px;
    border: 2px solid silver;
    z-index: 999;
}
#corner16 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 497px;
    left: 41px;
    border: 2px solid silver;
    z-index: 999;
}
#corner17 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 497px;
    left: 118px;
    border: 2px solid silver;
    z-index: 999;
}
#corner18 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 574px;
    left: 41px;
    border: 2px solid silver;
    z-index: 999;
}
#corner19 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 574px;
    left: 118px;
    border: 2px solid silver;
    z-index: 999;
}
#corner20 {
    position: absolute;
    width: 152px;
    height: 152px;
    top: 497px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}