#corner1 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 47px;
    left: 25px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 47px;
    left: 137px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 47px;
    left: 249px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 159px;
    left: 25px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 159px;
    left: 137px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 159px;
    left: 249px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 271px;
    left: 25px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 271px;
    left: 137px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 271px;
    left: 249px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 383px;
    left: 25px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 383px;
    left: 137px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 383px;
    left: 249px;
    border: 2px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 495px;
    left: 25px;
    border: 2px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 495px;
    left: 137px;
    border: 2px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 495px;
    left: 249px;
    border: 2px solid silver;
    z-index: 999;
}