#corner1 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 85px;
    left: 89px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 85px;
    left: 237px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 171px;
    left: 219px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 204px;
    left: 83px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 340px;
    left: 86px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 382px;
    left: 193px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 270px;
    left: 198px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 496px;
    left: 223px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 440px;
    left: 82px;
    border: 2px solid silver;
    z-index: 999;
}