#corner1 {
    position: absolute;
    width: 155px;
    height: 192px;
    top: 36px;
    left: 38px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 155px;
    height: 192px;
    top: 230px;
    left: 38px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 155px;
    height: 192px;
    top: 424px;
    left: 38px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 155px;
    height: 290px;
    top: 36px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 155px;
    height: 290px;
    top: 328px;
    left: 195px;
    border: 2px solid silver;
    z-index: 999;
}