#corner1 {
    position: absolute;
    width: 310px;
    height: 290px;
    top: 36px;
    left: 38px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 310px;
    height: 290px;
    top: 328px;
    left: 38px;
    border: 2px solid silver;
    z-index: 999;
}