#corner1 {
    position: absolute;
    width: 310px;
    height: 170px;
    top: 36px;
    left: 38px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 154px;
    height: 154px;
    top: 208px;
    left: 38px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 154px;
    height: 154px;
    top: 208px;
    left: 194px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 102px;
    height: 102px;
    top: 364px;
    left: 38px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 102px;
    height: 102px;
    top: 364px;
    left: 142px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 102px;
    height: 102px;
    top: 364px;
    left: 246px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 310px;
    height: 150px;
    top: 468px;
    left: 38px;
    border: 2px solid silver;
    z-index: 999;
}