#corner1 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 136px;
    left: 55px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 140px;
    left: 235px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 196px;
    left: 98px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 475px;
    left: 103px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 368px;
    left: 239px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 460px;
    left: 192px;
    border: 2px solid silver;
    z-index: 999;
}