#corner1 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 75px;
    left: 77px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 75px;
    left: 218px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 146px;
    left: 7px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 146px;
    left: 148px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 146px;
    left: 289px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 217px;
    left: 77px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 217px;
    left: 218px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 288px;
    left: 7px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 288px;
    left: 148px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 288px;
    left: 289px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 359px;
    left: 77px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 359px;
    left: 218px;
    border: 2px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 430px;
    left: 7px;
    border: 2px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 430px;
    left: 148px;
    border: 2px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 430px;
    left: 289px;
    border: 2px solid silver;
    z-index: 999;
}
#corner16{
    position: absolute;
    width: 90px;
    height: 90px;
    top: 501px;
    left: 77px;
    border: 2px solid silver;
    z-index: 999;
}
#corner17 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 501px;
    left: 218px;
    border: 2px solid silver;
    z-index: 999;
}