#corner1 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 135px;
    left: 72px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 135px;
    left: 223px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 204px;
    left: 103px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 468px;
    left: 105px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 379px;
    left: 230px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 470px;
    left: 189px;
    border: 2px solid silver;
    z-index: 999;
}