#corner1 {
    position: absolute;
    width: 122px;
    height: 122px;
    top: 60px;
    left: 63px;

    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 60px;
    left: 194px;

    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 60px;
    left: 260px;

    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 125px;
    left: 194px;

    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 125px;
    left: 260px;

    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 204px;
    left: 30px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 204px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 162px;
    height: 162px;
    top: 204px;
    left: 194px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 162px;
    height: 162px;
    top: 286px;
    left: 30px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 368px;
    left: 194px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 368px;
    left: 276px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 450px;
    left: 30px;
    border: 2px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 450px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 532px;
    left: 30px;
    border: 2px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 532px;
    left: 112px;
    border: 2px solid silver;
    z-index: 999;
}
#corner16 {
    position: absolute;
    width: 162px;
    height: 162px;
    top: 450px;
    left: 194px;
    border: 2px solid silver;
    z-index: 999;
}