#corner1 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 66px;
    left: 74px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 185px;
    left: 90px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 70px;
    left: 228px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 157px;
    left: 193px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 278px;
    left: 68px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 266px;
    left: 161px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 321px;
    left: 238px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 381px;
    left: 69px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 367px;
    left: 157px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width:110px;
    height: 110px;
    top: 475px;
    left: 70px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width:80px;
    height: 80px;
    top: 422px;
    left: 237px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width:80px;
    height: 80px;
    top: 507px;
    left: 202px;
    border: 2px solid silver;
    z-index: 999;
}