#corner1 {
    position: absolute;
    width: 126px;
    height: 126px;
    top: 60px;
    left: 60px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 60px;
    left: 196px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 60px;
    left: 264px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 127px;
    left: 196px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 127px;
    left: 264px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 194px;
    left: 60px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 194px;
    left: 127px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 395px;
    left: 60px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 395px;
    left: 127px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 127px;
    height: 126px;
    top: 194px;
    left: 196px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 126px;
    height: 126px;
    top: 261px;
    left: 60px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 328px;
    left: 196px;
    border: 2px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 328px;
    left: 264px;
    border: 2px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 462px;
    left: 60px;
    border: 2px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 462px;
    left: 127px;
    border: 2px solid silver;
    z-index: 999;
}
#corner16 {
    position: absolute;
    width: 127px;
    height: 126px;
    top: 395px;
    left: 196px;
    border: 2px solid silver;
    z-index: 999;
}
#corner17 {
    position: absolute;
    width: 263px;
    height: 60px;
    top: 528px;
    left: 60px;
    border: 2px solid silver;
    z-index: 999;
}