#corner1 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 60px;
    left: 30px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 60px;
    left: 192px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 60px;
    left: 273px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 141px;
    left: 192px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 141px;
    left: 273px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 245px;
    left: 30px;
    border: 2px solid silver;
    z-index: 999;
}
#corner7 {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 245px;
    left: 111px;
    border: 2px solid silver;
    z-index: 999;
}
#corner8 {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 326px;
    left: 30px;
    border: 2px solid silver;
    z-index: 999;
}
#corner9 {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 326px;
    left: 111px;
    border: 2px solid silver;
    z-index: 999;
}
#corner10 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 245px;
    left: 192px;
    border: 2px solid silver;
    z-index: 999;
}
#corner11 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 430px;
    left: 30px;
    border: 2px solid silver;
    z-index: 999;
}
#corner12 {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 430px;
    left: 192px;
    border: 2px solid silver;
    z-index: 999;
}
#corner13 {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 430px;
    left: 273px;
    border: 2px solid silver;
    z-index: 999;
}
#corner14 {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 511px;
    left: 192px;
    border: 2px solid silver;
    z-index: 999;
}
#corner15 {
    position: absolute;
    width: 79px;
    height: 79px;
    top: 511px;
    left: 273px;
    border: 2px solid silver;
    z-index: 999;
}