#corner1 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 60px;
    left: 32px;
    border: 2px solid silver;
    z-index: 999;
}
#corner2 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 75px;
    left: 194px;
    border: 2px solid silver;
    z-index: 999;
}
#corner3 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 237px;
    left: 32px;
    border: 2px solid silver;
    z-index: 999;
}
#corner4 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 252px;
    left: 194px;
    border: 2px solid silver;
    z-index: 999;
}
#corner5 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 414px;
    left: 32px;
    border: 2px solid silver;
    z-index: 999;
}
#corner6 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 429px;
    left: 194px;
    border: 2px solid silver;
    z-index: 999;
}