body {
  font-family: helvetica, arial, freesans, clean, sans-serif;
  line-height: 1em;
  background-image:url('images/bg.png');
}

a img {border: none; }

::-moz-selection{
    background-color:Transparent;
    color:#000;
}

::selection {
	background-color:Transparent;
	color:#000;
}

.canvas_appended::-moz-selection,
.canvas_appended::selection {
	-moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
}

#wrapper {
  margin: 0 auto;
  padding: 50px 0;
  width: 600px;  
  overflow:hidden;
}

.js-alert {
  display: none;
  padding: 5px 10px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  background: #FF6B6B;
  color: #821D1D;
}
html {
	height: 1024px;
	overflow-y: scroll;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html .no-js .js-alert {
  display: block;
}

h1 {
  margin: 0;
  padding: 5px 10px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; 
  font-size: 24px;
  line-height: 1em;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #23538a;
  filter: dropshadow(color=#23538a, offx=1, offy=1); 
  background: #a7cfdf; /* old browsers */
  background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* ie */
}

section {
  display: block;
  margin: 0 0 15px 0;
  padding: 20px;
  background: #E9F1F4;
  border: 1px solid #CCC;
  border-top: none;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modalOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.8); /* black semi-transparent */
	z-index: 1000;
}

#result {
  display: none;
  padding: 5px 10px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  background: #B3FF56;
  color: #4D721E;
}

.mainmenu {
	position:absolute;
	top:0px;
	left:0px;  
	background:#111111;
	/*background:#B00000;*/
	width:100%;
	height:55px;
	
	color: #fdfdfd;
	font: bold 15px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#maintable {
	width: 100%;
	border: 0px;
	table-layout: fixed;
	text-align:right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.recent {
    position:fixed;	
	bottom:0;
	left:0px;  
	background:#aaa;
	width:100%;
	height:150px;
	text-align:center;
	line-height:150px;
	z-index:999;
}

.sources {
	height:35px;
	width:100%;
	color: #fdfdfd;
	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);
	text-align:left;
	padding-bottom: 6px;

	background: #6c6e74;
	background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
	background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.gallery-pool {
	cursor: pointer;
}

td.last {
    width: 1px;
    white-space: nowrap;
}


.draggable::-moz-selection, 
.draggable::selection{ 
	padding: 0; 
	line-height: 0;  
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.layout_corner {
	-moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
}

.draggable-w {
	width: 100px;
}
.draggable-h {
	height: 100px;
}

.landing::-moz-selection, 
.landing::selection{
	margin: 0 auto;
	width: 100px; 
	height: 100px; 
	padding: 0; 
	line-height: 0;  
	border-color:blue; 
	border-style:dashed;
	border-width:medium;
	position:relative;
}

#get-user-data,
#random-design,
#clear-design,
#start-design,
#my-gallery
{
  display: block;
  text-decoration:none;
  color: #fdfdfd;
  font: bold 15px/32px Arial, sans-serif;
  float: right;
  cursor: pointer;
}

#save-design {
  cursor: pointer;
}

#random-design,
#clear-design,
#start-design,
#my-gallery,
#logo {
  float: left;
}

#maintable  > a:hover ,
#maintable > a:target,
#maintable  > a.active {
  display: block;
  text-decoration:none;
  color: #fdfdfd;
  font: bold 14px/32px Arial, sans-serif;
}

#mCanvas {
	position:absolute;
	top:0px;
	left:0px;  
}

#mTitle {
	font: bold 14px/32px Arial, sans-serif;
	text-align: center;
}
#mTitle form {
	height: 0px;
	width: 220px;
	padding: 0px;
	margin: 0px;
}

body.not-logged-in #save-design { display: none; }
body.not-logged-in #random-design { display: none; }
body.not-logged-in #start-design { display: none; }
body.not-logged-in #my-gallery { display: none; }
body.not-logged-in #clear-design { display: none; }
body.not-logged-in #logoutZone { display: none; }
body.not-logged-in #loginZone { display: block; }
body.not-logged-in .tip { display: block; }

body.logged-in #save-design { display: block; }
body.logged-in #random-design { display: block; }
body.logged-in #clear-design { display: block; }
body.logged-in #logoutZone { display: block; }
body.logged-in #loginZone { display: none; }
body.logged-in .tip { display: none; }

#menubar {
	position:absolute;
	top: 80px;
	left: 5px;
	z-index: 999;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Reset */

.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.accordion li {
	list-style: none;
}

/* Layout & Style */

.layout_item,
.phone_item,
.color_item {
	cursor:pointer;
}

.accordion li > a {
	display: block;
	position: relative;
	min-width: 200px;
	padding: 0 10px 0 40px;
	height: 32px;

	color: #fdfdfd;
	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);

	background: #6c6e74;
	background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
	background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.accordion > li:hover > a,
.accordion > li:target > a,
.accordion > li > a.active {
	color: #3e5706;
	text-shadow: 1px 1px 1px rgba(255,255,255, .2);
	
	/*background: url(../img/active.png) repeat-x;*/
	background: #a5cd4e;
	background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);	
}

.accordion li > a span {
	display: block;
	position: absolute;
	top: 7px;
	right: 0;
	padding: 0 10px;
	margin-right: 10px;
	
	font: normal bold 12px/18px Arial, sans-serif;
	background: #404247;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
	box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
}

.accordion > li:hover > a span,
.accordion > li:target > a span,
.accordion > li > a.active span {
	color: #fdfdfd;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);
	background: #3e5706;
}

/* Images */

.accordion > li > a:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 24px;
	height: 24px;
	margin: 4px 8px;

	background-repeat: no-repeat;
	background-image: url(images/icons.png);
	background-position: 0px 0px;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.accordion li.device > a:before { background-position: 0px 0px; }
.accordion li.device:hover > a:before,
.accordion li.device:target > a:before,
.accordion li.device > a.active:before { background-position: 0px -24px; }

.accordion li.layout > a:before { background-position: -24px 0px; }
.accordion li.layout:hover > a:before,
.accordion li.layout:target > a:before,
.accordion li.layout > a.active:before { background-position: -24px -24px; }

.accordion li.color > a:before { background-position: -48px 0px; }
.accordion li.color:hover > a:before,
.accordion li.color:target > a:before,
.accordion li.color > a.active:before { background-position: -48px -24px; }

.accordion li.filter > a:before { background-position: -72px 0px; }
.accordion li.filter:hover > a:before,
.accordion li.filter:target > a:before,
.accordion li.filter > a.active:before { background-position: -72px -24px; }

/* Sub Menu */

.sub-menu li a {
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);

	background: #e5e5e5;
	border-bottom: 1px solid #c9c9c9;

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.sub-menu li:hover a,
.sub-menu li.hovered a { 
	color: rgb(176,156,133); 
	background: #efefef; 
}

.sub-menu li:last-child a { border: none; }

.sub-menu li > a span {
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	background: transparent;
	border: 1px solid #c9c9c9;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.sub-menu em {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 14px;
	color: #a6a6a6;
	font: normal 10px/32px Arial, sans-serif;
}

.sub-menu td {
	height:62px;
	width: 40px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Functionality */

.accordion li > .sub-menu {
	display: none;
}

.accordion li:target > .sub-menu {
	display: block;
}

#progress-bar {
	border:1px solid #bebebe; 
	background:#ffffff; 
	width:310px; 
	height:14px; 
	text-align: center;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	border-radius:10px;
}

#status {
	background:#0066cc; 
	width:0%; 
	height:14px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	border-radius:10px;
}

/* Gallery page */

#table_sty td{ border-bottom:dashed #600 1px; height:30px; text-align:center}
#table_sty td.title{ border-bottom: solid #600 2px; height:30px; text-align:center}
#table_sty td.amount{ border-bottom: none; height:30px; text-align:right; font-size:15px; color:#000; font-weight:bold;}

.list_pic{
	-moz-box-shadow: 1px 1px 5px #999; /* Firefox */
	-webkit-box-shadow: 1px 1px 5px #999; /* Safari 和 Chrome */
	box-shadow: 1px 1px 3px #999; /* Opera 10.5 + */
	width:150px;
	background-color:#FFF;
	text-align:center;
	margin:0 10px 5px 10px;
}
.list_txt{
	width:150px;
	text-align:center;
	margin:0 10px;
	padding-bottom:20px
}

#gallery {
	position: absolute;	
	width:900px; 
	margin:auto; 
	float:none;
	left: 16%;
}
.itemRow {
	width: 1024px;
}

.g_img_wrap {
	height:220px;
}

.simpleCart_shelfItem {
	float: left;
}

.shopping_cart {
	position: absolute;	
	width: 1024px;
	height: 150px;
	display: none;
}
.simpleCart_items {
	height: 120px;
}

.simpleCart_items div{
	float: left;
	padding-right: 100px;
}

.simpleCart_items .headerRow div {
	width: 70px;
}

.simpleCart_items span {
	display:-moz-inline-box;
	display:inline-block;
	width:100px; 
}
.simpleCart_items .item_qty {
	display:-moz-inline-box;
	display:inline-block;
	width:10px;
}
.simpleCart_total {
	float: left;
	padding-right: 80px;	
}
.checkout {
	
	float: right;
	cursor: pointer;
	width: 40px;
	-moz-box-shadow:inset -1px 2px 0px -2px #fab3ad;
	-webkit-box-shadow:inset -1px 2px 0px -2px #fab3ad;
	box-shadow:inset -1px 2px 0px -2px #fab3ad;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639) );
	background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
	background-color:#fa665a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:none;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 32px;
	text-decoration:none;
	text-shadow:1px 0px 0px #98231a;
}.checkout:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a) );
	background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
	background-color:#d34639;
}.checkout:active {
	position:relative;
	top:1px;
}

/* Credit Card Module */
.cards {
  overflow: hidden;
}
.card ul {
	list-style: none;
}
.cards li {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-image: url(images/card_logos.png);
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
  list-style: none;
}
.cards li:last-child {
  margin-right: 0;
}
.cards .visa_electron {
  background-position: 204px 0;
}
.cards .mastercard {
  background-position: 153px 0;
}
.cards .maestro {
  background-position: 102px 0;
}
.cards .discover {
  background-position: 51px 0;
}
.cards .visa.off {
  background-position: 0 32px;
}
.cards .visa_electron.off {
  background-position: 204px 32px;
}
.cards .mastercard.off {
  background-position: 153px 32px;
}
.cards .maestro.off {
  background-position: 102px 32px;
}
.cards .discover.off {
  background-position: 51px 32px;
}

.cards form {
  -webkit-box-shadow: 0 1px 3px #bbbbbb;
  -moz-box-shadow: 0 1px 3px #bbbbbb;
  box-shadow: 0 1px 3px #bbbbbb;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background: -webkit-linear-gradient(#ffffff, #f5f5f5);
  background: -moz-linear-gradient(#ffffff, #f5f5f5);
  background: -ms-linear-gradient(#ffffff, #f5f5f5);
  background: -o-linear-gradient(#ffffff, #f5f5f5);
  background: linear-gradient(#ffffff, #f5f5f5);
  background-color: #f8f8f8;
  border: 5px solid #fff;
  margin: 0 auto 32px;
  padding: 12px 24px 24px;
  width: 380px;
}
.cards form h2 {
  color: #555;
  font-family: "Helvetica Neue", Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 0;
}
.cards form li {
  margin: 8px 0;
  list-style: none;
}
.cards form ul {
	list-style: none;
}
.cards form label {
  color: #555;
  display: block;
  font-size: 14px;
}
.cards form label small {
  color: #aaa;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
}
.cards form input {
  -webkit-box-shadow: inset 0 1px 3px -1px #aaaaaa;
  -moz-box-shadow: inset 0 1px 3px -1px #aaaaaa;
  box-shadow: inset 0 1px 3px -1px #aaaaaa;
  border: 1px solid #aaa;
  border-color: #aaa #ddd #ddd #aaa;
  color: #333;
  display: block;
  font-size: 18px;
  height: 30px;
  padding: 0 5px;
  width: 275px;
  -moz-box-sizing: content-box;
}
.cards form input.valid {
  background: url(images/tick.png) 260px center no-repeat;
}

/* Gallery pool */
#instagram-source-login {
	width: 48px;
	height: 48px;

	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -173px -54px;
}

#facebook-source-login {
	width: 48px;
	height: 48px;

	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -125px -54px;
}

#logo {
	width: 128px;
	height: 48px;

	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: 0px -46px;
}

#random-design span {
	font: bold 12px/32px Arial, sans-serif;
	padding-top: 5px;
	padding-bottom: 6px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -24px 0px;
}

#clear-design span {
	font: bold 12px/32px Arial, sans-serif;
	padding-top: 5px;
	padding-bottom: 6px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -48px 0px;
}

#save-design span {
	font: bold 12px/32px Arial, sans-serif;
	padding-top: 5px;
	padding-bottom: 6px;
	margin-bottom: 12px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -96px 0px;
}

#price_tag {
	display: none;
	position: absolute;
	height: 164px;
	width: 267px;
	font: 30px/32px Helvetica-Light;
	font-weight: lighter;
	text-align: center;
	padding-top: 4%;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -220px -184px;
	z-index: 0;
}

#tip1 {
	position: absolute;
	height: 75px;
	width: 110px;
	left: 1200px;
	top: 60px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -63px -532px;
	z-index: 999;
}

#tip2 {
	position: absolute;
	height: 50px;
	width: 210px;
	left: 260px;
	top: 80px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -2px -624px;
	z-index: 999;
}

#tip3 {
	position: fixed;
	height: 80px;
	width: 200px;
	left: 1200px;
	bottom: 180px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -2px -690px;
	z-index: 999;
}

.layout_item {
	display: inline-block; 
	height:100%; 
	width:100%;
	
}
#layout_1 {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -61px -116px;
}
#layout_1:hover,
#layout_1.hovered {
	background-position: -15px -116px;
}
#layout_2 {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -152px -116px;
}
#layout_2:hover,
#layout_2.hovered  {
	background-position: -106px -116px;
}
#layout_3 {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -61px -183px;
}
#layout_3:hover,
#layout_3.hovered {
	background-position: -15px -183px;
}

#layout_4 {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -152px -183px;
}
#layout_4:hover,
#layout_4.hovered {
	background-position: -106px -183px;
}
#layout_5 {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -61px -251px;
}
#layout_5:hover,
#layout_5.hovered {
	background-position: -15px -251px;
}
#layout_6 {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -152px -251px;
}
#layout_6:hover,
#layout_6.hovered {
	background-position: -106px -251px;
}
#layout_7 {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -61px -319px;
}
#layout_7:hover,
#layout_7.hovered {
	background-position: -15px -319px;
}
#layout_8 {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -152px -319px;
}
#layout_8:hover,
#layout_8.hovered {
	background-position: -106px -319px;
}
#layout_9 {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -61px -387px;
}
#layout_9:hover,
#layout_9.hovered {
	background-position: -15px -387px;
}
#layout_10 {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -152px -387px;
}
#layout_10:hover,
#layout_10.hovered {
	background-position: -106px -387px;
}
#layout_11 {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -61px -454px;
}
#layout_11:hover,
#layout_11.hovered {
	background-position: -15px -454px;
}
#layout_12 {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -152px -454px;
}
#layout_12:hover,
#layout_12.hovered {
	background-position: -106px -454px;
}
