body {
  font-family: helvetica, arial, freesans, clean, sans-serif;
  line-height: 1em;
  background-image:url('images/bg.png');
}

::-moz-selection{
    background-color:Transparent;
    color:#000;
}

::selection {
	background-color:Transparent;
	color:#000;
}

.canvas_appended::-moz-selection,
.canvas_appended::selection {
	-moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
}

#cart {
	display: none;
	position:absolute;
	top:80px;
	left:850px;
	width: 170px;
	height: 60px;
}

.buybutton{
	display: none;
	position:absolute;
	top:430px;
	left:850px;
	width: 120px;
	height: 40px;
    text-align: center;
    line-height: 40px;
    color:#FFF;
    background-color: #000;
    font-size: 18px;
    padding:5px 10px;
    border-radius: .3em .3em .3em .3em;
    background-image:url(/css/images/glossy.png);
    -moz-box-shadow: 0px 0px 6px #000;
    -webkit-box-shadow: 0px 0px 6px #000;
    box-shadow: 0px 0px 6px #000;
    cursor: pointer;
}
.buybutton:hover{
    color:#000;
    background-color: #999;
}

#wrapper {
  margin: 0 auto;
  padding: 50px 0;
  width: 600px;  
  overflow:hidden;
}

.js-alert {
  display: none;
  padding: 5px 10px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  background: #FF6B6B;
  color: #821D1D;
}
html {
	height: 1024px;
	overflow-y: scroll;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html .no-js .js-alert {
  display: block;
}

h1 {
  margin: 0;
  padding: 5px 10px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; 
  font-size: 24px;
  line-height: 1em;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #23538a;
  filter: dropshadow(color=#23538a, offx=1, offy=1); 
  background: #a7cfdf; /* old browsers */
  background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* ie */
}

section {
  display: block;
  margin: 0 0 15px 0;
  padding: 20px;
  background: #E9F1F4;
  border: 1px solid #CCC;
  border-top: none;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modalOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.8); /* black semi-transparent */
	z-index: 1000;
}

#result {
  display: none;
  padding: 5px 10px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  background: #B3FF56;
  color: #4D721E;
}

.mainmenu {
	position:absolute;
	top:0px;
	left:0px;  
	background:#111111;
	width:100%;
	height:55px;
	
	color: #fdfdfd;
	font: bold 15px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#maintable {
	width: 100%;
	border: 0px;
	table-layout: fixed;
	text-align:right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.recent {
	position:absolute;
	top:0px;
	left:0px;  
	background:#aaa;
	width:100%;
	height:150px;
	text-align:center;
	line-height:150px;
	z-index:999;
}

.sources {
	height:35px;
	width:100%;
	color: #fdfdfd;
	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);
	text-align:left;
	padding-bottom: 6px;

	background: #6c6e74;
	background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
	background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.gallery-pool {
	cursor: pointer;
}

td.last {
    width: 1px;
    white-space: nowrap;
}


.draggable::-moz-selection, 
.draggable::selection{ 
	padding: 0; 
	line-height: 0;  
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.layout_corner {
	-moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
}

.draggable-w {
	width: 100px;
}
.draggable-h {
	height: 100px;
}

.landing::-moz-selection, 
.landing::selection{
	margin: 0 auto;
	width: 100px; 
	height: 100px; 
	padding: 0; 
	line-height: 0;  
	border-color:blue; 
	border-style:dashed;
	border-width:medium;
	position:relative;
}

#get-user-data,
#random-design,
#clear-design,
#start-design
{
  display: block;
  text-decoration:none;
  color: #fdfdfd;
  font: bold 15px/32px Arial, sans-serif;
  float: right;
  cursor: pointer;
}

#save-design {
  cursor: pointer;
}

#random-design,
#clear-design,
#start-design,
#logo {
  float: left;
}

#maintable  > a:hover ,
#maintable > a:target,
#maintable  > a.active {
  display: block;
  text-decoration:none;
  color: #fdfdfd;
  font: bold 14px/32px Arial, sans-serif;
}

#mCanvas {
	position:absolute;
	top:0px;
	left:0px;  
}

body.not-logged-in #save-design { display: none; }
body.not-logged-in #random-design { display: none; }
body.not-logged-in #start-design { display: none; }
body.not-logged-in #clear-design { display: none; }
body.not-logged-in #logoutZone { display: none; }
body.not-logged-in #loginZone { display: block; }

body.logged-in #save-design { display: block; }
body.logged-in #random-design { display: block; }
body.logged-in #clear-design { display: block; }
body.logged-in #logoutZone { display: block; }
body.logged-in #loginZone { display: none; }

#menubar {
	position:absolute;
	top: 80px;
	left: 5px;
	z-index: 999;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Reset */

.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.accordion li {
	list-style: none;
}

/* Layout & Style */

.layout_item,
.phone_item,
.color_item {
	cursor:pointer;
}

.accordion li > a {
	display: block;
	position: relative;
	min-width: 200px;
	padding: 0 10px 0 40px;
	height: 32px;

	color: #fdfdfd;
	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);

	background: #6c6e74;
	background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
	background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.accordion > li:hover > a,
.accordion > li:target > a,
.accordion > li > a.active {
	color: #3e5706;
	text-shadow: 1px 1px 1px rgba(255,255,255, .2);
	
	/*background: url(../img/active.png) repeat-x;*/
	background: #a5cd4e;
	background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);	
}

.accordion li > a span {
	display: block;
	position: absolute;
	top: 7px;
	right: 0;
	padding: 0 10px;
	margin-right: 10px;
	
	font: normal bold 12px/18px Arial, sans-serif;
	background: #404247;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
	box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
}

.accordion > li:hover > a span,
.accordion > li:target > a span,
.accordion > li > a.active span {
	color: #fdfdfd;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);
	background: #3e5706;
}

/* Images */

.accordion > li > a:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 24px;
	height: 24px;
	margin: 4px 8px;

	background-repeat: no-repeat;
	background-image: url(images/icons.png);
	background-position: 0px 0px;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.accordion li.device > a:before { background-position: 0px 0px; }
.accordion li.device:hover > a:before,
.accordion li.device:target > a:before,
.accordion li.device > a.active:before { background-position: 0px -24px; }

.accordion li.layout > a:before { background-position: -24px 0px; }
.accordion li.layout:hover > a:before,
.accordion li.layout:target > a:before,
.accordion li.layout > a.active:before { background-position: -24px -24px; }

.accordion li.color > a:before { background-position: -48px 0px; }
.accordion li.color:hover > a:before,
.accordion li.color:target > a:before,
.accordion li.color > a.active:before { background-position: -48px -24px; }

.accordion li.filter > a:before { background-position: -72px 0px; }
.accordion li.filter:hover > a:before,
.accordion li.filter:target > a:before,
.accordion li.filter > a.active:before { background-position: -72px -24px; }

/* Sub Menu */

.sub-menu li a {
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);

	background: #e5e5e5;
	border-bottom: 1px solid #c9c9c9;

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.sub-menu li:hover a { background: #efefef; }

.sub-menu li:last-child a { border: none; }

.sub-menu li > a span {
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	background: transparent;
	border: 1px solid #c9c9c9;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.sub-menu em {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 14px;
	color: #a6a6a6;
	font: normal 10px/32px Arial, sans-serif;
}

/* Functionality */

.accordion li > .sub-menu {
	display: none;
}

.accordion li:target > .sub-menu {
	display: block;
}

#progress-bar {
	border:1px solid #bebebe; 
	background:#ffffff; 
	width:300px; 
	height:14px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	border-radius:10px;
}

#status {
	background:#0066cc; 
	width:0%; 
	height:14px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	border-radius:10px;
}

/* Gallery pool */
#instagram-source-login {
	width: 48px;
	height: 48px;

	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -173px -54px;
}

#facebook-source-login {
	width: 48px;
	height: 48px;

	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -125px -54px;
}

#logo {
	width: 128px;
	height: 48px;

	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: 0px -46px;
}

#random-design span {
	font: bold 12px/32px Arial, sans-serif;
	padding-top: 5px;
	padding-bottom: 6px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -24px 0px;
}

#clear-design span {
	font: bold 12px/32px Arial, sans-serif;
	padding-top: 5px;
	padding-bottom: 6px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -48px 0px;
}

#save-design span {
	font: bold 12px/32px Arial, sans-serif;
	padding-top: 5px;
	padding-bottom: 6px;
	margin-bottom: 12px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -96px 0px;
}

#price_tag {
	display: none;
	position: absolute;
	height: 140px;
	width: 300px;
	font: bold 32px/32px Arial, sans-serif;
	text-align:center;
	line-height:140px;
	background-repeat: no-repeat;
	background-image: url(images/icons2.png);
	background-position: -200px -183px;
}
