<div id="shopping_cart2" style="top:80px; left:25%; position:absolute" >
    <p align="center" style="font-size:20px;"><strong>購物車</strong></p>
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" id="table_sty" b>
    <tr>
      <td width="30%"><table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="30%" class="title">名 稱</td>
          <td width="20%" class="title">價 格</td>
          <td width="15%" class="title">數 量</td>
          <td width="20%" class="title">小 計</td>
          <td width="15%" class="title">&nbsp;</td>
        </tr>
        <tr>
          <td>style1</td>
          <td>US$ 34.95</td>
          <td><input name="textfield1" type="text" id="textfield1" value="1" size="3" /></td>
          <td>USD $34.95</td>
          <td valign="middle"><img src="css/images/delete.png" width="18" height="18" /></td>
        </tr>
        <tr>
          <td>style2</td>
          <td>US$ 34.95</td>
          <td><input name="textfield2" type="text" id="textfield2" value="1" size="3" /></td>
          <td>USD $34.95</td>
          <td><img src="css/images/delete.png" width="18" height="18" /></td>
        </tr>
        <tr>
          <td height="38" class="title">&nbsp;</td>
          <td class="title">&nbsp;</td>
          <td class="title">&nbsp;</td>
          <td class="title">&nbsp;</td>
          <td class="title">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4" class="amount">總計 US$ 999.07</td>
          <td class="amount">(結帳按鈕)</td>
        </tr>
      </table></td>
    </tr>
    </table>
</div>
