<div class="shopping_cart2" style="top:80px; left:25%; position:absolute" >
    <p align="center" style="font-size:20px;"><strong>購物車</strong></p>
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" id="table_sty">
        <tr>
          <td width="30%" class="title">名 稱</td>
          <td width="20%" class="title">價 格</td>
          <td width="15%" class="title">數 量</td>
          <td width="20%" class="title">小 計</td>
          <td width="15%" class="title">&nbsp;</td>
        </tr>
    </table>
</div>
